<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.SpringStarter.example.Mapper.BoardMapper">

<select id="selectBoardList" resultType="Board" parameterType="int">
select *
from(
	select q.boardmax, q.idboard, q.boardname, q.boardcontent, q.boardwriter, q.datetime , timediff(now() ,q.datetime)as timediff, q.rnum
    
		from(
        
			select *, @rownum:=@rownum+1 as rnum
            
			from(
                
					select count(*)as boardmax
                    
					from board as q
                    
			)as a, board as b,(select @rownum:=0) as c
                
			order by datetime desc
            
	)as q
)as a
where a.rnum between (#{boardpage}-1)*5 +1 and #{boardpage}*5

</select>
<select id="selectBoardDetail" resultType="Board">
select idboard,boardname,boardsubject,boardcontent,boardwriter,hit,datetime
from board
where idboard = #{idboard}
</select>
<delete id="deleteBoard">
delete from board
where idboard =#{idboard};
</delete>
<select id="subjectboardlist" parameterType="String" resultType="Board">
select idboard,boardname,boardsubject,boardcontent, boardwriter, hit, datetime
from board
where boardsubject = #{subject}
order by datetime desc;
</select>



<insert id="insertBoard"  parameterType="Board">
insert into Board(
	boardname,
	boardcontent,
	boardwriter,
	hit,
	likenum
)
values(
	#{boardname},
	#{boardcontent},
	#{boardwriter},
	0,
	0
)
<selectKey keyProperty="idboard" resultType="int" order="AFTER">
	SELECT LAST_INSERT_ID()
</selectKey>

</insert>
</mapper>
