<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.SpringStarter.example.Mapper.BoardMapper">

<select id="selectBoardList" resultType="Board" parameterType="com.SpringStarter.example.Request.selection">
SELECT 
    *
FROM
    (SELECT 
        a.boardmax,
            a.idboard,
            a.boardname,
            a.boardcontent,
            a.boardwriter,
            a.datetime,
            TIMEDIFF(NOW(), a.datetime) AS timediff,
            a.rnum,
            a.hit,
            a.boardsubject
    FROM
        (SELECT 
        *, @rownum:=@rownum + 1 AS rnum
    FROM
        (SELECT 
        COUNT(*) AS boardmax
    FROM
        board AS q
    <if test="boardsubject != 'ALL'">
  
    WHERE
        q.boardsubject = (#{boardsubject})
        
    </if>
    ) AS c, board AS q, (SELECT @rownum:=0) AS z
    <if test="boardsubject != 'ALL'">
    WHERE
        q.boardsubject = #{boardsubject}
    </if>
    ORDER BY datetime DESC) AS a) AS z
WHERE
    z.rnum BETWEEN  (#{boardpage}-1)*5 +1 and #{boardpage}*5
</select>
<select id="selectBoardDetail" resultType="Board">
select idboard,boardname,boardsubject,boardcontent,boardwriter,hit,datetime
from board
where idboard = #{idboard}
</select>
<delete id="deleteBoard">
delete from board
where idboard =#{idboard};
</delete>
<select id="subjectboardlist" parameterType="String" resultType="Board">
select idboard,boardname,boardsubject,boardcontent, boardwriter, hit, datetime
from board
where boardsubject = #{subject}
order by datetime desc;
</select>



<insert id="insertBoard"  parameterType="Board">
insert into Board(
	boardname,
	boardcontent,
	boardwriter,
	hit,
	likenum,
	boardsubject
)
values(
	#{boardname},
	#{boardcontent},
	#{boardwriter},
	0,
	0,
	#{boardsubject}
)
<selectKey keyProperty="idboard" resultType="int" order="AFTER">
	SELECT LAST_INSERT_ID()
</selectKey>

</insert>



<update id="updatehit" parameterType="int">
update board
set hit = hit+1
where idboard = #{idboard};

</update>
</mapper>
