<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.SpringStarter.example.Mapper.ScheduledUtilMapper">
<delete id="deletecomm">
DELETE FROM comment 
WHERE
    idcomment IN (SELECT 
        b.idcomment
    FROM
        board AS a
            RIGHT JOIN
        (SELECT 
            *
        FROM
            comment) AS b ON a.idboard = b.idboard
    
    WHERE
        a.idboard IS NULL)
</delete>

<select id="refreshsub" resultType="map">
SELECT 
    boardsubject as key, COUNT(*) as value
FROM
    board
WHERE
    boardsubject NOT IN (SELECT 
            subjectname
        FROM
            subject)
GROUP BY boardsubject
</select>
<select id="popular" resultType="Popular">
SELECT 
    f.boardsubject AS subject,
    f.개시글수 AS numofboard,
    f.조회수 AS numofhit,
    q.댓글개수 AS numofcom
FROM
    (SELECT 
        boardsubject,
            COUNT(*) AS 개시글수,
            SUM(hit) AS 조회수
    FROM
        board
    GROUP BY boardsubject) AS f
        JOIN
    (SELECT 
        boardsubject, COUNT(*) 댓글개수
    FROM
        (SELECT 
        a.*, b.boardsubject
    FROM
        comment AS a
    JOIN (SELECT 
        *
    FROM
        board) AS b ON a.idboard = b.idboard) AS c
    GROUP BY boardsubject) AS q ON f.boardsubject = q.boardsubject
</select>
</mapper>
