<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.SpringStarter.example.Mapper.SearchMapper">
<select id="initKeyword" resultType="String">
select comment
from comment
union all 
select  boardname
from board
union all
select boardcontent
from board

</select>



<insert id ="insertKeyword" parameterType="Map">
insert into search(
	keyword,
	frequency
) values
<foreach item="value" index="key" collection="_parameter.entrySet()" separator=" , ">
( 
  #{key},
  #{value}
)
</foreach>
</insert>

<select id="showKeyword" parameterType="String" resultType="String">
select Keyword
from search
where Keyword like #{name}
</select>
<insert id="insertkeywo" parameterType="List">
insert into search(
	keyword
) values
(
	#{name}

)
</insert>
<select id="selectKeyword" parameterType="String" resultType="Board">
select c.*,timediff(now() ,c.datetime)as timediff
from(
select distinct idboard
from(
select boardname,idboard
from board
union 
select boardcontent,idboard
from board 
union
select comment, idboard
from comment
)as a
where boardname like #{name}
)as b, board as c
where b.idboard = c.idboard

</select>

</mapper>
