<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.SpringStarter.example.Mapper.SearchMapper">
<select id="initKeyword" resultType="String">
select comment
from comment
union all 
select  boardname
from board
union all
select boardcontent
from board

</select>



<insert id ="insertKeyword" parameterType="Map">
insert into search(
	keyword,
	frequency
) values
<foreach item="value" index="key" collection="_parameter.entrySet()" separator=" , ">
( 
  #{key},
  #{value}
)
</foreach>
</insert>

<select id="showKeyword" parameterType="String" resultType="String">
select Keyword
from search
order by Frequency desc
</select>

</mapper>
